.link-preview-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 14px;
	border-radius: 5px;
	margin: 20px 0px;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
	  0 -4px 24px 2px rgba(0, 0, 0, 0.03);
	line-height: 1.5;
	cursor: pointer;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
	  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	  "Helvetica Neue", sans-serif;
  }
  .link-preview-section .animated-background,
  .link-preview-section .link-image-loader .img {
	animation-duration: 2.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: #f6f6f6;
	background: linear-gradient(
	  to right,
	  #f6f6f6 8%,
	  #f0f0f0 18%,
	  #f6f6f6 33%
	);
	position: relative;
  }
  @keyframes placeHolderShimmer {
	0% {
	  background-position: -468px 0;
	}
	100% {
	  background-position: 468px 0;
	}
  }
  .link-preview-section .link-description {
	display: flex;
	flex-direction: column;
  }
  .link-preview-section .link-description .domain {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 4px;
  }
  .link-preview-section .link-description .domain img {
	height: 16px;
	width: 16px;
  }
  .link-preview-section .link-description .domain .link-url,
  .link-preview-section .link-description .domain .link-url-loader {
	font-weight: 600;
  }
  .link-preview-section .link-description .domain .link-url-loader {
	background-color: #f6f6f6 !important;
	color: #f6f6f6 !important;
	border-radius: 10px;
  }
  .link-preview-section .link-description .link-data .link-title {
	color: #1364a2;
	font-weight: 600;
	font-size: 15px;
  }
  .link-preview-section .link-description .link-data .link-description {
	font-size: 14px;
	text-align: left;
  }
  .link-preview-section .link-description .link-data-loader .p1 {
	font-weight: 600;
	font-size: 15px;
  }
  .link-preview-section .link-description .link-data-loader .p2 {
	font-size: 14px;
  }
  .link-preview-section .link-description .link-data-loader .p1,
  .link-preview-section .link-description .link-data-loader .p2 {
	background-color: #f6f6f6 !important;
	color: #f6f6f6 !important;
	border-radius: 10px;
	margin-bottom: 4px;
  }
  .link-preview-section .link-image {
	display: flex;
	align-content: center;
	align-items: center;
	height: 100%;
  }
  .link-preview-section .link-image img {
	max-height: 64px;
	object-fit: cover;
  }
  .link-preview-section .link-image-loader {
	display: flex;
	align-content: center;
	align-items: center;
  }
  .link-preview-section .link-image-loader .img {
	height: 64px;
	width: 64px;
  }